<section class="section">
    <div class="row">
        <div class="col-md-4 content-center ml-auto mr-auto">
            <div class="card card-login card-plain text-bg-light">
                <form action="" class="form ng-untouched ng-pristine ng-valid" method="" novalidate="">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <h2>Formulario</h2>
                        </div>
                    </div>
                    <div class="content">
                        <div class="input-group form-group-no-border input-lg mb-2">
                            <input class="form-control" placeholder="Nombre Completo" type="text">
                        </div>
                        <div class="input-group form-group-no-border input-lg mb-2">
                            <input class="form-control" placeholder="Teléfono" type="text">
                        </div>
                        <div class="input-group form-group-no-border input-lg">
                            <textarea class="form-control" rows="5" placeholder="En que podemos ayudar"></textarea>
                        </div>
                    </div>
                    <div class="content">
                        <a class="btn btn-primary btn-round btn-lg btn-block" href="#pablo">Enviar</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8 content-center ml-auto mr-auto">
            <img src="../../../../../assets/imgs/logoF1.jpeg" height="350px" />
        </div>
    </div>
</section>
