<div class="text-center mx-auto app-header">
    <div class="content-center">
        <div class="title-brand">
            <h1>Las mejores soluciones</h1>
            <p class="text-muted description">empresa líder e innovadora a nivel nacional y con proyección internacional, en el proceso de reciclaje y la generación de productos que contribuyan al mejoramiento de la calidad de vida</p>
        </div>
    </div>
</div>
<app-who-are-we></app-who-are-we>
<app-products></app-products>
<app-contact-us></app-contact-us>
