.app-header {
    background: url('/assets/imgs/home.jpg') no-repeat center top fixed;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 80px;
    min-height: 100vh;
    max-height: 999px;
    color: #fff;
}

.title-brand {
    max-width: 730px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: #fff;
    display: block;
}

.content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 100%;
}

.description {
    color: #fff !important;
}
