<section class="section">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1"> ECOPANELES <span class="text-muted">  </span></h2>
            <p class="lead">Actualmente en la industria de la construcción, existen varias tipologías de paneles para igual de variadas aplicaciones. Estos suelen denominarse “ecopaneles” cuando están elaborados con materiales de origen ecológico o son de alguna forma
                amigables con el medioambiente. A continuación, y a manera de antecedente, se mencionan algunos ejemplos:
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="../../../../../assets/imgs/ecopanel.png" height="500" width="500" style="margin: 5px 5px; padding: 15px;" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 order-md-1">
            <h2 class="featurette-heading fw-normal lh-1"> LADRILLOS ECOLÓGICOS <span class="text-muted">  </span></h2>
            <p class="lead">Los ladrillos ecológicos objetos del presente estudio, se elaboran a base de residuos sólidos inorgánicos y aglomerantes, que permiten obtener un producto de alta resistencia y durabilidad. Estos ladrillos generan ahorro en el costo de construcción
                y brindan protección de agentes externos como el sonido, calor y seguridad ante temblores, adicional a esto son elementos que su proceso de producción genera menor impacto en el medio ambiente.
            </p>
        </div>
        <div class="col-md-5 order-md-2">
            <img src="../../../../../assets/imgs/ladrillos.jpg" height="500" width="500" style="margin: 5px 5px; padding: 15px;" />
        </div>
    </div>
</section>
